// styling specific to the #skills section
#skills {
  #skill-container {
    margin: $spacer auto;
    padding: 0;
    max-width: 800px;
    .skill-content {
      margin-top: $spacer-sm;
    }
  }
}
